@media (max-width: 1350px){
    .wrap {
        width: 90%;
        margin: 0 auto;
    }

    #banner h1 {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card {
        width: 15.7%;
        margin: 1.4%;
        margin-left: 15px;
    }

    .card p {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #articles {
        width: 50%;
    }

    #articles article {
        width: 97%;
    }

    #footer .wrap > div {
        width: 25%;
    }

    #footer #location iframe {
        height: 70%;
    }

    #footer #browsers img {
        width: 10%;
    }

    #footer h5 {
        font-size: 30px;
    }
}

@media (max-width: 1080px) {
    .card {
        margin-left: 10px;
    }

    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    #articles {
        width: 50%;
    }

    #articles article {
        width: 94%;
    }

    #footer .wrap > div {
        width: 20%;
        padding-left: 30px;
    }

    #footer #browsers img {
        width: 10%;
    }

    #footer h5 {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .card {
        margin-left: 4px;
    }

    #articles {
        width: 45%;
    }

    #articles h2 {
        width: 99%;
    }

    #footer .wrap > div {
        width: 20%;
        padding-left: 15px;
    }

    #footer img {
        width: 90%;
    }

    #footer #browsers img {
        width: 10%;
    }

    #footer h5 {
        font-size: 30px;
    }

    #footer h5 {
        font-size: 22px;
    }
}

@media (max-width: 925px) {
    #articles {
        width: 45%;
    }

    #articles .data {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    #lateralBar {
        width: 25%;
    }


    #lateralBar #login {
        height: auto;
        min-height: 240px;
    }

    #lateralBar #login form {
        padding-bottom: 15px;
    }

    #lateralBar #login form > input[type="email"],
    #lateralBar #login form > input[type="password"] {
        width: 65%;
    }

    #lateralBar #login form > label {
        margin-left: 20px;
    }

    #lateralBar #login form > input[type="submit"],
    #lateralBar #login form > input[type="reset"] {
        margin-left: 35px;
        margin-bottom: 0px;
    }

    #lateralBar #login form > input[type="reset"] {
        margin-bottom: 20px;
    }

    #lateralBar #login form a {
        margin: 0 auto;
        text-align: center;
    }

    #footer .wrap > div {
        width: 20%;
        padding-left: 30px;
    }

    #footer #browsers img {
        width: 10%;
    }

    #footer h5 {
        font-size: 30px;
    }

    #footer .wrap > div {
        width: 19%;
        padding-left: 15px;
    }

    #footer img {
        width: 90%;
    }

    #footer #browsers img {
        width: 10%;
    }

    #footer h5 {
        font-size: 30px;
    }

    #footer h5 {
        font-size: 22px;
    }
}

@media (max-width: 899px){
    
    #lateralBar {
        margin-left: 100px;
    }

    #lateralBar h3 { 
        font-size: 20px;
    }
}

@media (max-width: 799px){
    #banner h1 {
        font-size: 25px;
    }

    .card {
        height: auto;
    }

    .card .category {
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description {
        display: none;
    }

    #articles h2 {
        font-size: 35px;
    }

    #footer img {
        margin-bottom: 15px;
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    #articles h2 {
        font-size: 30px;
    }
}

@media  (max-width: 724px) {
    #header {
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }

    #logo {
        position: relative;
        background-color: #37bcf9;
    
    }

    #menu {
        clear: both;
        float: none;
        width: 440px;
        margin: 0 auto;
    }

    #lateral input[type="text"] {
        width: 70%;
    }

    #articles h2 {
        font-size: 25px;
    }
}

@media (max-width: 660px) {
    #banner h1 {
        font-size: 25px;
    }

    #lateralBar {
        float: none;
        width: 100%;
        margin: 0 auto;
        min-height: auto;
        margin-top: 20px;
    }

    #lateralBar input[type="text"]{
        width: 93%;
    }

    #login input[type="email"],
    #login input[type="password"] {
        width: 90%;
    }

    #articles {
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #footer {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    #footer .wrap > div {
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }

    #footer h5 {
        font-size: 25px;
    }
}

@media (max-width: 475px) {
    #logo {
        float: left;
    }

    #header {
        height: 275px;
    }

    #menu {
        width: 100%;
    }

    #menu ul li {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a {
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }

    #banner {
        height: 85px;
    }

    #banner h1 {
        font-size: 18px;
    }

    #lateral input[type="text"] {
        width: 85%;
    }

    .card .icon {
        font-size: 35px;
    }

    .card:hover .icon {
        font-size: 35px;
    }

    .card .category {
        font-size: 13px;
    }

    #articles .data {
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }

    #articles article h4 {
        margin-top: 20px;
    }
}